.ranking_awards{
    border-bottom: 2px solid var(--light_brown);
    width: 80%;
    text-align: center;
}

.ranking_awards > p{
    margin-top: 0;
}
.ranking_medal{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    margin-top: 70px;
    margin-bottom: 30px;
}

.medal{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: var(--light_brown);
    width: 80px;
    position: relative;
    
}

.ranking_first{
    height: 200px;
    background-color: rgb(65, 124, 82);
}

.ranking_second{
    height: 150px;
    background-color: rgb(43, 116, 60);
}

.ranking_third{
    height: 100px;
    background-color: rgb(30, 94, 53);
}

.ranking_info{
    position: absolute;
    top:-60px;
    left: 50%;
    transform : translateX(-50%);
    font-size: 16px;
    text-align: center;
}
.ranking_user{
    margin-bottom: 0;
}
.ranking_score{
    top:-50px;
    font-size: 14px;
    margin-top: 3px;
}


/*game_defense.html*/
.attack_title{
    border-bottom: 3px solid var(--light_brown);
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 500;
}
.card_choice{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--light_brown);
}

.card_choice_number{
    margin-bottom: 10px;
    font-size: var(--font-size-detail-infos);
}

.counterattack_btn{
    margin-top: 30px;
    font-size: var(--font-size-btn-medium);
    padding-inline: 20px;
    padding-block: 8px;
    border-radius: var(--radius-regular);
    font-family: var(--font-style-gonggothic-medium);
    background-color: var(--light_brown);
    color: var(--background-green);
    margin-inline: 6%;
}

.counterattack_btn:hover {
    background-color: var(--background-green);
    color: var(--light_brown);
}


/*game_attack.html*/
.choice_defender_container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap:15px;
}
.attack_title_detail{
    border-bottom: 3px solid var(--light_brown);
    margin-bottom: 10px;
    padding: 15px;
    font-weight: 500;
    padding-left: 2px;
    margin-top: 0;
}

#choice_defender{
    margin-bottom: 20px;
    width: 80px;
    height: 40px;
}

.game_attack__btn {
    margin-left: 34%;
}