{% extends 'games/detail.html' %}

{% block detail_contents %}
<div class="finished_attack__game_info">
    <!-- 게임 승리 기준 -->
    <div class="finished_attack__game_info_rule">
        게임 승리 기준: {{ game.get_winning_condition_display }}, {{index}}
    </div>

    <!-- 게임 카드 정보 -->
    <div class="finished_attack__game_info_card">
        <div class="finished_attack__attacker">
            공격자: {{ game.attacker.username }} - 카드: {{ game.attacker_card }}
        </div>
        <div class="finished_attack__defenser">
            수비자: {{ game.defender.username }} - 카드: {{ game.defender_card }}
        </div>
    </div>

    <!-- 게임 결과 -->
    <div class="finished_attack__game_info_result">
        {% if game.winner %}
            게임 결과: 승자 - {{ game.winner.username }}
        {% else %}
            게임 결과: 무승부
        {% endif %}
    </div>

    <!-- 나의 점수 -->
    <div class="finished_attack__game_info_score">
        나의 점수: {{ user.user_score }}
    </div>

    <!-- 전적 목록으로 이동 -->
    <a href="{% url 'games:user_game_list' %}">
        <button type="button" class="finished_attack__game_list">전적 목록</button>
    </a>
</div>
{% endblock %}
