{% extends 'games/detail.html' %}
{% block detail_contents %}
    <div class="finished_attack__game_info_rule">게임 승리기준</div>
    <div class="finished_attack__game_info_card">
        <div class="finished_attack__attacker">{{game.attacker.id}}:{{game.attacker.card}}</div>
        <div class="finished_attack__defenser">{{game.defenser.id}}:{{game.defenser.card}}</div>
    </div>
    <div class="finished_attack__game_info_result">게임결과: {{game.result}}</div>
    <div class="finished_attack__game_info_score">나의점수: </div>
    <button type="submit" class="finished_attack__game_list">전적목록</button>
{% endblock %}