{% extends 'games/detail.html' %}


{% block detail_contents%}
<div>
    <h3 class="attack_title_detail">내가 고른 카드: </h3>
        <form action="/submit" method="POST">
        <div class="card_choice">
            <div class="card_choice_number">
                <input type="radio" id="card_number6" name="card_number">
                <label for="card_number6">6</label>
            </div>
            <div class="card_choice_number">
                <input type="radio" id="card_number2" name="card_number">
                <label for="card_number2">2</label>
            </div>
            <div class="card_choice_number">
                <input type="radio" id="card_number3" name="card_number">
                <label for="card_number3">3</label>
            </div>
            <div class="card_choice_number">
                <input type="radio" id="card_number4" name="card_number">
                <label for="card_number4">4</label>
            </div>
            <div class="card_choice_number">
                <input type="radio" id="card_number5" name="card_number">
                <label for="card_number5">5</label>
            </div>
        </div>
            <div class="choice_defender_container">
                <h3 class="attack_title_detail">Defender : </h3>
                <label for="choice_defender"></label>
                <select id="choice_defender" name="choice_defender">
                    <option value="default_defender">-------</option>
                </select>
            </div>
            <button tyep="submit"class="counterattack_btn">Attack!</button>
    </form>
</div>

{% endblock %}