{% extends 'games/detail.html' %}


{% block detail_contents%}
<div>
    <form action="{% url 'games:game_defense' game_id=game.id %}" method="POST">
        {% csrf_token%} 
        <h3 class="attack_title">반격할 카드: </h3>
        <div class="card_choice">
            <div class="card_choice_number">
                <input type="radio" id="card_number_1" name="card_number" class="card_number">
                <label for="card_number_1"></label>
            </div>
            <div class="card_choice_number">
                <input type="radio" id="card_number_2" name="card_number" class="card_number">
                <label for="card_number_2"></label>
            </div>            
            <div class="card_choice_number">
                <input type="radio" id="card_number_3" name="card_number" class="card_number" >
                <label for="card_number_3"></label>
            </div>
            <div class="card_choice_number">
                <input type="radio" id="card_number_4" name="card_number"  class="card_number" >
                <label for="card_number_4"></label>
            </div>
            <div class="card_choice_number">
                <input type="radio" id="card_number_5" name="card_number" class="card_number" >
                <label for="card_number_5"></label>
            </div>
        </div>
        <button type="submit"class="counterattack_btn">CounterAttack</button>
    </form>
</div>

{% endblock %}