{% extends 'games/detail.html' %}

{% block detail_contents %}
    <div class="ranking_awards">
        <p> Piro 명예의 전당 </p>  
    </div>
    <div class="ranking_medal">
        <div class="ranking_first medal">
            <div class="ranking_info">
                <p class="ranking_user">user2</p>
                <p class="ranking_score">11</p>
            </div>
            <p class="ranking_number">1</p>
        </div>
        <div class="ranking_second medal">
            <div class="ranking_info">
                <p class="ranking_user">user2</p>
                <p class="ranking_score">11</p>
            </div>
            <p class="ranking_number">2</p>
        </div>
        <div class="ranking_third medal">
            <div class="ranking_info">
                <p class="ranking_user">user2</p>
                <p class="ranking_score">11</p>
            </div>
            <p class="ranking_number">3</p>
        </div>
    </div>
    <a href="#" class="result_total_list"><button>전적목록</button></a>
{% endblock %}