{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piro Card Game</title>
    <link rel="stylesheet" href="{% static 'css/style_nkm.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_lse.css' %}">


</head>
<body>
    <header>
        <div class="left_navBar">
            <a href="#" class="game_name">Pirogrammer Card Game</a>
        </div>
        <div class="right_navBar">
            {% block navbar_contents %}
            <a href="#" class="start_game">게임하기</a>
            <a href="#" class="lanking">랭킹보기</a>
            <a href="#" class="logout">로그아웃</a>
            {% endblock %}
        </div>
    </header>
    <div class="underNavBar">
        <div class="background">
            <div class="card_table"></div>
            <div class="card_1"></div>
            <div class="card_2"></div>
            <div class="card_3"></div>
        </div>
        <div class="main_container">

            <div class="attack_statebox">
                <div class="defense_info">
                    <h3>4 - user1 VS user3 </h3>  
                </div>
                <a href="#" class="defense_gamebtn"><button>대응하기</button></a>
                <a href="#" class="defense_gamebtn"><button>전적목록</button></a>
            </div>
        </div>
    </div>
    <footer>
        피로 카드게임에 오신 여러분을 환영합니다!
    </footer>

    <script>

    </script>
</head>
<body>

</body>
</html>