{% extends 'base.html' %}

{% block navbar_contents %}
    {% if user.is_authenticated %}
    <a href="{% url 'account_logout' %}" class="main__login">로그아웃</a>
    {% else %}
    <a href="{% url 'account_login' %}" class="main__login">로그인</a>
    {% endif %}
    <a href="/accounts/signup/" class="main__join">회원가입</a>
{% endblock %}

{% block btn_contents %}
    <div class="title">Piro Card Game</div>
    {% if user.is_authenticated %}
        <button type="submit" class="main__game_start_btn">start</button>
    {% else %}
        <a href="{% url 'account_login' %}" class="main__game_start_btn">로그인 후 시작하기</a>
    {% endif %}
{% endblock %}